[submodule "ext/fzf"]
	path = ext/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "ext/fonts"]
	path = ext/fonts
	url = https://github.com/powerline/fonts.git
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
