# Packer compiled
config/nvim/plugin

# VSCode, only use this on my Windows machine
config/vscode

# Spelling files
*.spl

# Files for testing configurations
scratchpad/

*.log
history.*

# Python related
__pycache__/

# TeX related
tex/latex/build/
