config/nvim/venv/
config/zsh/.zsh_sessions/

*.bak*

# Packer compiled
config/nvim/plugin

# VSCode related
config/vscode/globalStorage
config/vscode/workspaceStorage
config/vscode/History

# Spelling files
*.spl

# Files for testing configurations
scratchpad/

*.log
history.*

# Python related
__pycache__/

# TeX related
tex/latex/build/

.luarc.json
