global !p
from snippet_helpers import complete

ENV_TYPES = [
	"bash",
	"zsh",
	"sh",
	"env python",
	"env julia",
]

endglobal

snippet #! "#!"
#!/usr/bin/${1}`!p snip.rv = complete(t[1], ENV_TYPES)`}
endsnippet
