snippet module "Basic module with setup" b
local M = {}

M.setup = function()
	$1
end

return M
endsnippet

snippet hl "Neovim highlight" i
vim.api.nvim_set_hl(${1:0}, "$2", {$3})
endsnippet

snippet wk "which-key register" i
require("which-key").register({
	["$1"] = {
		$0
	}
})
endsnippet
