snippet link "Link to something" i
[${1:${VISUAL:Text}}](${2:Link})$0
endsnippet

snippet cbl "Codeblock" b
\`\`\`$1
${2:${VISUAL}}
\`\`\`
$0
endsnippet

# Bold with Ctrl+B. Same trick as used in the TeX snippets
snippet  "Bold text" iA
**${1:${VISUAL}}**
endsnippet
