# TODO:

snippet "class" "Class with docstring" b
class $1:
    """$2

    Args:
        

    Examples:
        
    >>> 

    """

    def __init__(self):
        pass

endsnippet
